function toUpperCase(str) {
  if (!str) return ''
  return str.toUpperCase()
}

function formatStatus(status) {
  if (status === "BOOKINGPROCESSING") {
    return 'BOOKING PROCESSING   '
  } else if (status === 'FINALBLISSUED') {
    return 'FINAL BL ISSUED'
  } else if (status === 'SIPROCESSING') {
    return 'SI PROCESSING'
  } else if (status === 'DRAFTBL') {
    return 'DRAFT BL'
  } else {
    return status
  }
}

module.exports = {
  toUpperCase: toUpperCase,
  formatStatus: formatStatus
}