function formatEnDate(date, fuhao, type, hideWeek) {
  if(!date) return ''
  date = date.split('T')[0].split('-').join('/')
  var dt = getDate(date);
  var m = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Spt", "Oct", "Nov", "Dec"];
  var week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
  var weeks = ["Sun", "Mon", "Tues", "Wed", "Thur", "Fri", "Sat"];
  var mn = dt.getMonth(),
  wn = dt.getDay(),
  dn = dt.getDate() > 9 ? dt.getDate() : '0' + dt.getDate()
  var weekStr = (type === 'short' ? weeks[wn] : week[wn])
  if (!fuhao) {
    return (!hideWeek ? weekStr + ', ' : '') + m[mn] + " " + dn + ", " + dt.getFullYear()
  } else {
    return (!hideWeek ? weekStr + ', ' : '') + dn + fuhao + m[mn] + fuhao + dt.getFullYear()
  }
}

function formatCnDate(date, hideWeek) {
  if(!date) return ''
  date = date.split('T')[0].split('-').join('/')
  var dt = getDate(date);
  var m = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"];
  var week = ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"];
  var mn = dt.getMonth(),
  wn = dt.getDay(),
  dn = dt.getDate() > 9 ? dt.getDate() : '0' + dt.getDate()
  return dt.getFullYear() + '-' + m[mn] + '-' + dn + (!hideWeek ? ' ' + week[wn] : '')
}

var strSub = function (obj) {
  if (!obj) return ''
  return obj.substring(0, 2)
}

var checkIsVessel = function (type) {
  if (!type) return true
  var array = ['truck', 'road', 'mixed', 'rail', 'barge', 'feeder', 'third party feeder', 'intermodal', 'unknown']
  for (var i = 0; i < array.length; i++) {
    var element = array[i];
    if (type.toLocaleLowerCase().indexOf(element) > -1) {
      return false
    }
  }
  return true
}

var checkQiYunGangKou = function (index, list) {
  var newList = list.slice(0, index)
  var res = true
  for (var i = 0; i < newList.length; i++) {
    var element = newList[i];
    if (checkIsVessel(element.transportation.vehicle.vehicleName)) {
      res = false
      break
    }
  }
  return res
}

var checkXieHuoGangKou = function (index, list) {
  var res = false
  var element = list[index];
  var element2 = list[index - 1];
  if (!checkIsVessel(element.transportation.vehicle.vehicleName) && checkIsVessel(element2.transportation.vehicle.vehicleName)) {
    res = true
  }
  return res
}


function getShopName(list) {
  var name = ''
  for (var index = 0; index < list.length; index++) {
    var element = list[index];
    if (checkIsVessel(element.transportation.vehicle.vehicleName)) {
      name = element.transportation.vehicle ? element.transportation.vehicle.vehicleName : ''
      break 
    }
  }
  return name
}

module.exports = {
  formatEnDate: formatEnDate,
  formatCnDate: formatCnDate,
  strSub: strSub,
  checkIsVessel: checkIsVessel,
  checkQiYunGangKou: checkQiYunGangKou,
  checkXieHuoGangKou: checkXieHuoGangKou,
  getShopName: getShopName
}