// 不区分时区英文
function formatEnDateLocal(date, fuhao, type, hideWeek, hideTime) {
  if (!date) return ''
  if (date.indexOf('T') > -1) {
    date = date.split('T')[0].split('-').join('/') + ' ' + (date.split('T')[1]).substring(0, 8)
  }
  var dt = getDate(date);
  var m = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"];
  var week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
  var weeks = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
  var mn = dt.getMonth(),
    wn = dt.getDay(),
    dn = dt.getDate() > 9 ? dt.getDate() : '0' + dt.getDate(),
    hour = dt.getHours() > 9 ? dt.getHours() : '0' + dt.getHours(),
    min = dt.getMinutes() > 9 ? dt.getMinutes() : '0' + dt.getMinutes()
  var weekStr = (type === 'short' ? weeks[wn] : week[wn])
  if (!fuhao) {
    return (!hideWeek ? weekStr + ', ' : '') + m[mn] + " " + dn + ", " + dt.getFullYear() + (!hideTime ? (' ' + hour + ':' + min) : '')
  } else {
    return (!hideWeek ? weekStr + ', ' : '') + dn + fuhao + m[mn] + fuhao + dt.getFullYear() + (!hideTime ? (' ' + hour + ':' + min) : '')
  }
}

// 不区分时区中文
function formatCnDateLocal(date, hideWeek, hideTime) {
  if (!date) return ''
  if (date.indexOf('T') > -1) {
    date = date.split('T')[0].split('-').join('/') + ' ' + (date.split('T')[1]).substring(0, 8)
  }
  var dt = getDate(date);
  var m = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"];
  var week = ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"];
  var mn = dt.getMonth(),
    wn = dt.getDay(),
    dn = dt.getDate() > 9 ? dt.getDate() : '0' + dt.getDate(),
    hour = dt.getHours() > 9 ? dt.getHours() : '0' + dt.getHours(),
    min = dt.getMinutes() > 9 ? dt.getMinutes() : '0' + dt.getMinutes()
  return dt.getFullYear() + '-' + m[mn] + '-' + dn + (!hideWeek ? ' ' + week[wn] : '') + (!hideTime ? (' ' + hour + ':' + min) : '')
}

// 区分时区英文
function formatEnDateUtc(date, fuhao, type, hideWeek, needTime) {
  if (!date) return ''
  var dt = getDate(date);
  var m = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"];
  var week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
  var weeks = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
  var mn = dt.getMonth(),
    wn = dt.getDay(),
    dn = dt.getDate() > 9 ? dt.getDate() : '0' + dt.getDate()
  hour = dt.getHours() > 9 ? dt.getHours() : '0' + dt.getHours(),
    min = dt.getMinutes() > 9 ? dt.getMinutes() : '0' + dt.getMinutes()
  var weekStr = (type === 'short' ? weeks[wn] : week[wn])
  if (!fuhao) {
    return (!hideWeek ? weekStr + ', ' : '') + dn + " " + m[mn] + ", " + dt.getFullYear() + (needTime ? ' ' + hour + ':' + min : '')
  } else {
    return (!hideWeek ? weekStr + ', ' : '') + dn + fuhao + m[mn] + fuhao + dt.getFullYear() + (needTime ? ' ' + hour + ':' + min : '')
  }
}

// 区分时区中文
function formatCnDateUtc(date, hideWeek, needTime) {
  if (!date) return ''
  var dt = getDate(date);
  var m = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"];
  var week = ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"];
  var mn = dt.getMonth(),
    wn = dt.getDay(),
    dn = dt.getDate() > 9 ? dt.getDate() : '0' + dt.getDate(),
    hour = dt.getHours() > 9 ? dt.getHours() : '0' + dt.getHours(),
    min = dt.getMinutes() > 9 ? dt.getMinutes() : '0' + dt.getMinutes()
  return dt.getFullYear() + '-' + m[mn] + '-' + dn + (!hideWeek ? ' ' + week[wn] : '') + (needTime ? ' ' + hour + ':' + min : '')
}

var strSub = function (obj) {
  if (!obj) return ''
  return obj.substring(0, 2)
}

var checkIsVessel = function (type) {
  if (!type) return true
  var array = ['truck', 'road', 'mixed', 'rail', 'barge', 'feeder', 'third party feeder', 'intermodal', 'unknown']
  for (var i = 0; i < array.length; i++) {
    var element = array[i];
    if (type.toLocaleLowerCase().indexOf(element) > -1) {
      return false
    }
  }
  return true
}

var checkQiYunGangKou = function (index, list) {
  var newList = list.slice(0, index)
  var res = true
  for (var i = 0; i < newList.length; i++) {
    var element = newList[i];
    if (checkIsVessel(element.transportation.vehicle.vehicleName)) {
      res = false
      break
    }
  }
  return res
}

var checkXieHuoGangKou = function (index, list) {
  var res = false
  var element = list[index];
  var element2 = list[index - 1];
  if (!checkIsVessel(element.transportation.vehicle.vehicleName) && checkIsVessel(element2.transportation.vehicle.vehicleName)) {
    res = true
  }
  return res
}


function getShopName(list) {
  var name = ''
  for (var index = 0; index < list.length; index++) {
    var element = list[index];
    if (checkIsVessel(element.transportation.vehicle.vehicleName)) {
      name = element.transportation.vehicle ? element.transportation.vehicle.vehicleName : ''
      break
    }
  }
  return name
}

// ======== Instant Quote Route Detail start ========
var checkIsVessel2 = function (type) {
  return type
}

var checkQiYunGangKou2 = function (index, list) {
  var newList = list.slice(0, index)
  var res = true
  for (var i = 0; i < newList.length; i++) {
    var element = newList[i];
    if (checkIsVessel2(element.voyageRef)) {
      res = false
      break
    }
  }
  return res
}

var checkXieHuoGangKou2 = function (index, list) {
  var res = false
  var element = list[index];
  var element2 = list[index - 1];
  if (!checkIsVessel2(element.voyageRef) && checkIsVessel2(element2.voyageRef)) {
    res = true
  }
  return res
}
// ======== Instant Quote Route Detail end ========

var checkIsVessel3 = function (type) {
  return type
}

var checkQiYunGangKou3 = function (index, list) {
  var newList = list.slice(0, index)
  var res = true
  for (var i = 0; i < newList.length; i++) {
    var element = newList[i];
    if (checkIsVessel3(element.voyageReference)) {
      res = false
      break
    }
  }
  return res
}

var checkXieHuoGangKou3 = function (index, list) {
  var res = false
  var element = list[index];
  var element2 = list[index - 1];
  if (!checkIsVessel3(element.voyageReference) && checkIsVessel3(element2.voyageReference)) {
    res = true
  }
  return res
}

// 格式化金额
function formatAmount(number, digit) {
  if (!number) number = 0;
  var str = numToFixed(number, digit);
  if (digit > 0) {
    var intSum = str.substring(0, str.indexOf(".")).replace(getRegExp('\B(?=(\d{3})+$)', 'g'), ',') //取到整数部分
    var dot = str.substring(str.length, str.indexOf(".")) //取到小数部分搜索
    var ret = intSum + dot;
    return ret;
  } else {
    var intSum = str.replace(getRegExp('\B(?=(\d{3})+$)', 'g'), ','); //取到整数部分
    var ret = intSum;
    return ret;
  }
}

function numToFixed(number, digits) {
  var numberStr = number + ''
  if (numberStr.indexOf('.') > -1 && numberStr.split('.')[1].length === (digits + 1)) {
    number += 0.00001;
  }
  var fixedNumber = 0;
  if (number > 0) {
    fixedNumber = number.toFixed(digits);
  } else if (number < 0) {
    fixedNumber = '-' + Math.abs(number).toFixed(digits);
  } else {
    if (1 / number < 0) {
      fixedNumber = '-' + Math.abs(number).toFixed(digits);
    } else {
      fixedNumber = number.toFixed(digits);
    }
  }
  return fixedNumber
}

// 删除最后一个+号
function deleteStr(str) {
  if (str.substring(str.length - 1) === '+') {
    return str.substring(0, str.length - 1)
  } else {
    return str
  }
}

function setChina(code, need) {
  if (!code) return
  var two = code.substring(0, 2)
  if (two === 'HK' || two === 'MO' || two === 'TW') {
    return ', CHINA'
  } else {
    return need ? ', ' + two : ''
  }
}

function substrs(code, count) {
  if (!count) count = 2
  if (!code) return
  var two = code.substring(0, count)
  if (two === 'HK' || two === 'MO' || two === 'TW') {
    return 'CN'
  }
  return two
}

function checkTime(date) {
  if (!date) return 1
  if (date.indexOf('T') > -1) {
    date = date.split('T')[0].split('-').join('/') + ' ' + (date.split('T')[1]).substring(0, 8)
  }
  var dt = getDate(date);
  var time = dt.getTime();
  var nowTime = getDate().getTime();
  return time - nowTime
}

function localeUpperCase(str) {
  return !str ? '' : str.toLocaleUpperCase()
}

var formatCommodityName = function(name) {
  if (!name) return ''
  if (name.indexOf('FAK') > -1) {
    return 'Freight ALL Kinds'
  }
  return name
}

module.exports = {
  formatEnDateLocal: formatEnDateLocal,
  formatCnDateLocal: formatCnDateLocal,
  formatEnDateUtc: formatEnDateUtc,
  formatCnDateUtc: formatCnDateUtc,
  strSub: strSub,
  checkIsVessel: checkIsVessel,
  checkQiYunGangKou: checkQiYunGangKou,
  checkXieHuoGangKou: checkXieHuoGangKou,
  getShopName: getShopName,
  checkIsVessel2: checkIsVessel2,
  checkQiYunGangKou2: checkQiYunGangKou2,
  checkXieHuoGangKou2: checkXieHuoGangKou2,
  checkIsVessel3: checkIsVessel3,
  checkQiYunGangKou3: checkQiYunGangKou3,
  checkXieHuoGangKou3: checkXieHuoGangKou3,
  formatAmount: formatAmount,
  deleteStr: deleteStr,
  setChina: setChina,
  substrs: substrs,
  checkTime: checkTime,
  localeUpperCase: localeUpperCase,
  formatCommodityName: formatCommodityName
}