function formatEnDate(date) {
  date = date.split('T')[0].split('-').join('/')
  var dt = getDate(date);
  var m = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Spt", "Oct", "Nov", "Dec"];
  var week = ["Sunday", "Monday", "Tuseday", "Wednesday", "Thursday", "Friday", "Saturday"];
  var mn = dt.getMonth(),
  wn = dt.getDay(),
  dn = dt.getDate() > 9 ? dt.getDate() : '0' + dt.getDate()
  return week[wn - 1] + '，' + m[mn] + " " + dn + "，" + dt.getFullYear()
}

module.exports = {
  formatEnDate: formatEnDate
}